*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

body, h1{
    margin: 0;
}
body{
    padding-top: 5rem;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #d4dddd6f;
}

/* nav */
/* el id tiene prioridad sobre la class */
#nav-bar{
    background-color: #0c7e7e00;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    color: aliceblue;
    /* -webkit-box-shadow: 0px 7px 25px 1px rgba(158,155,158,1);
    -moz-box-shadow: 0px 7px 25px 1px rgba(158,155,158,1);
    box-shadow: 0px 7px 25px 1px rgba(158,155,158,1); */
    z-index: 10;
}

#nav-container{
    max-width: 90rem;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo{
    width: 5rem;
    height: 5rem;
}

#nav-icon{
    border: 1px solid #000000;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    color: #000000;
}

#nav-icon:active {
    background-color: #134647;
}

#links-container{
    display: none;
    gap: 6rem;
}

.nav-link{
    color: #0b0b0b;
    text-decoration: none;
    padding: 1rem;
}

.nav-link:hover{
    border-bottom: 1px solid #222222;
    padding-bottom: 1rem;
    transition: all 01s ease;
}

/* Main */
#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 1rem;
    padding: 0 4rem;
    background-color: #59a68c;
    margin: 1.5rem;
    border-radius: 3rem;
}

#main-title{
    text-align: center;
    font-size: 3rem;
    color: #f0f0f0;
}

#main-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#main-des{
    text-align: justify;
    font-size: 1.5rem;
    color: #f0f0f0;
} 

#main-btn{
    padding: 1rem;
    width: 60%;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #e8e8e8;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    text-align: center;
    text-decoration: none;
}

#main-btn:hover{
    background-color: #ffffffc1;
}



/* lista */

#main-container2{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

#main-title2{
    text-align: center;
    font-size: 3rem;
    color: #000000;
    padding: 0;
    margin: 0rem;
}

#list-text{
    float: none;
    display: inline-block;
    font-size: 18px;
    height: 2.5rem;
    padding: 1.93rem;
    border: 2px solid #1D2820;
    border-radius: 2rem 0rem 0rem 2rem;
    box-shadow: none;
    background-color: #ffffffb9;
    width: 80%;
}

#main-button-agg{
    position: relative;
    float: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: inline-block;
    padding: 1rem;
    -webkit-border-radius: 5px;
    top: -1px;
    color: #fff;
    background-color: #0c7e7e;
    cursor: pointer;
    border-radius: 0rem 2rem 2rem 0rem;
    width: 30%;
}

#main-add{
    color: #e5e7eb;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
}

#main-button-agg:active{
    background-color: #0c7e7ecf;
}

#main-button-agg:hover{
    background-color: #0c7e7ecf;
}

#main-head{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#main-tasklist{
    padding-bottom: 50px;
    padding-top: 50px;
}

#myUL{
    list-style: none;
    padding: 0;
    margin: 0 auto 1rem auto;
    justify-content: center;
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
}

#item{
    display: flex;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    border-radius: 10px 25px 0;
    border-radius: 10px;
    background: #fff;
    padding: 26px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.05);
    gap: 2rem;
    width: 100%;
    height: auto;
}

#item-delete{
    color: white;
    width: 20%;
    height: 100%;
    height: 4rem;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    border-radius: 1rem;
    padding: 0.5rem;
}

#item-delete:active{
    background-color: transparent;
    color: red;
}

#item-delete:hover{
    background-color: transparent;
    color: red;
    transition: 600ms;
}

#item-check{
    background-color: rgb(5, 202, 5);
    width: 20%;
    height: 4rem;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}

#item-check:active{
    background-color: transparent;
    color: rgb(5, 202, 5);
}

#item-check:hover{
    background-color: transparent;
    color: rgb(5, 202, 5);
    transition: 600ms;
}

.task{
    width: 60%;
    text-align: justify;
}

@media (min-width: 768px){
    #list-text{
        width: 60%;
        margin: 0;
        height: 3rem;
        border-radius: 1rem 0rem 0rem 1rem;
    }

    #main-button-agg{
        padding: 1rem 3rem;
        width: 20%;
        border-radius: 0rem 1rem 1rem 0rem;
    }
}

@media (min-width: 1024px){
    #nav-icon{
        display: none;
    }

    #links-container{
        display: flex;
    }
    
    #main-container{
        padding: 0 1rem;
        margin: 4rem;
    }

    #main-container2{
        padding: 0 1rem;
    }    
    
    #main-head{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin:0;
        padding: 2rem;
    }

    #main-tasklist{
        padding: 0 4rem;
        flex: none;
    }

    #list-text{
        width: 50%;
        margin: 0;
        height: 3rem;
        border-radius: 1rem 0rem 0rem 1rem;
        padding: 0.5rem;
        
    }

    #item{
        width: calc(50% - 1rem);

    }

    #main-btn{
        width: 30%;
    }

    #main-title{
        font-size:4rem;
    }

    #main-button-agg{
        padding: 0.5rem 1rem;
        width: 10%;
        border-radius: 0rem 1rem 1rem 0rem;
    }
}

@media (min-width: 1500px) {
    #item{
        width: calc(30% - 1rem);

    }
}

@media (min-width: 2048px) {
    #main-container{
        width: 70%;
        margin: 2rem auto;
    }

    #main-tasklist{
        margin: 1rem 10rem;
    }

    #item{
        width: calc(30% - 1rem);
    }

    #list-text{
        width: 30%;
    }

    #main-button-agg{
        width: 5%;
    }
}